<h3>All Companies</h3>


<ul class="collection">

<% @companies.each do |company| %>
  <div class = "custom-item">
    <li class = "collection-item custom-collection">

    <div class=company_<%= company.id %>>
      <%= link_to company.name, company_path(company), class: 'company-name' %><br>

      <%= link_to "Edit", edit_company_path(company), class: "btn blue btn-edit" %>
      <%= link_to "Delete", company_path(company), method: "delete", class: "btn btn-delete red" %>
    </div>
    </li>
  </div>
<% end %>

</ul>
